body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.todo {
    width: 50%; /* Ширина блока в половину ширины окна браузера */
    height: 50vh; /* Высота блока в половину высоты окна браузера */
    background-color: lightblue; /* Цвет фона блока, замените на нужный вам цвет */

}
.todo_header{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}