<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoDooLer</title>
    <link rel="stylesheet" href="static/css/new_style.css">
</head>
<body>
<section class="todo">
    <h1>Ваш список задач</h1>
    {{ range . }}
    <ul>
    <li>Цель: {{ .Aim }}</li>
    {{if not .Solved }} <li class = "task_incomplete">Статус: Не выполнено</li>
        <form action="/solve_task" method = "post">
            <input type="hidden" name = "taskID" value = "{{.Id}}">
            <button type="submit">Отметить выполненной</button>
        </form>
    {{ else }} <li class = "task_complete">Статус: Выполнено</li>
        <form action="/delete_task" method = "post">
            <input type="hidden" name = "taskID", value = "{{.Id}}">
            <button type = "submit" >Удалить цель</button>
        </form>
    {{ end }}
    </ul>
{{ end }}
    <a href="create_aim"><button>Создать новую цель</button></a>
</section>
</body>
</html>